/.env
/.env.*
!/.env.example
.DS_Store
/.phpunit.result.cache
/.idea
/.vscode

/node_modules

/public/build/*
!/public/build/manifest.json
!/public/build/assets/
/public/hot
/public/storage
/database/*.sqlite
/database/*.sqlite-*

/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/bootstrap/cache/config.php
/bootstrap/cache/events.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/bootstrap/cache/routes-v7.php

/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/output
/outputs
/tmp
/work
