/.env
/.env.*
!/.env.example
.DS_Store
/.phpunit.result.cache
/.idea
/.vscode

/node_modules
/vendor

/public/build
/public/hot
/public/storage
/public/images/cleaner-the-crow-logo.jpg
/public/images/ctc-logo.svg

/database/*.sqlite
/database/*.sqlite-*

/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/output
/outputs
/tmp
/work
